/* 
MacBook Pro 13" Measurements
width of 11.97” (30.41 cm), height of 8.36” (21.24 cm) 
*/

/* CSS Reset */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-size: 4px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
 align-items: end;
 display: flex;
 flex-direction: column;
 justify-content: center;
 min-height: 100vh;
}

.container {
 display: flex;
 position: relative;
 justify-content: center;
 align-items: end;
 width: 100%;
 height: 400px;
 background-color: lightgray;
}

.container .macbookpro {
 position: relative;
 width: 286px;
 height: 200px;
 background: gray;
 border-radius: 10px;
 border: 0.3px solid rgb(0,0,0, 0.2);
 inset: 0;
 z-index: 4;
}

.container .macbookpro .keyboardarea {
 position: relative;
 background-color: gray;
 box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
 width: 262.18px;
 height: 105.88px;
 margin-top: 11.43px;
 margin-left: 11.922px;
 border-radius: 6px;
 z-index: 1;
}

.container .macbookpro .trackpad {
 position: relative;
 background-color: gray;
 box-shadow: inset 0 0 2px rgba(0, 0, 0, 1);
 width: 114.4px;
 height: 72.64px;
 border-radius: 2.05px;
 margin-top: 3px;
 margin-left: 85.8px;
 z-index: 1;
}


.container .macbookpro::before {
 position: absolute;
 content: "";
 font-family: 'Font Awesome 5 Free'; 
 background-image: url('/Images/apple.svg');
 background-size: 20% 20%;
 background-repeat: no-repeat;
 background-position: center;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: gray;
 z-index: 3;
 border-radius: 10px;
 border: 0.3px solid rgb(0,0,0, 0.1);
 animation: openmac1 2s linear 0.5s 1; 
 animation-fill-mode: forwards;
}

@keyframes openmac1 {
 0% {
  transform-origin: top;
  transform: rotateX(0deg);
 }
 33% {
  transform-origin: top;
  transform: rotateX(30deg);
 }
 66% {
  transform-origin: top;
  transform: rotateX(60deg);
 }
 100% {
  transform-origin: top;
  transform: rotateX(90deg);
 }
}

.container .macbookpro::after {
 position: absolute;
 content: "";
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Font Awesome 5 Free'; 
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: transparent;
 z-index: 2;
 border-radius: 10px;
 border: 0.3px solid rgb(0,0,0, 0.1);
 animation: openmac2 2s linear 2.5s 1;
 animation-fill-mode: forwards;
 font-size: 15px;
}

@keyframes openmac2 {
 0% {
  z-index: 4;
  transform: rotateX(90deg);
  transform-origin: top;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
  background-color: black;
  content: "<DHⱯИꓵƧH ΛⱯᖉWⱯ CHEKꓵᖉI\\>";
  color: whitesmoke;
 }
 33% {
  z-index: 4;
  transform: rotateX(110deg);
  transform-origin: top;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
  background-color: black;
  content: "<DHⱯИꓵƧH ΛⱯᖉWⱯ CHEKꓵᖉI\\>";
  color: whitesmoke;
 }
 66% {
  z-index: 4;
  transform: rotateX(130deg);
  transform-origin: top;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
  background-color: black;
  content: "<DHⱯИꓵƧH ΛⱯᖉWⱯ CHEKꓵᖉI\\>";
  color: whitesmoke;
 }
 100% {
  z-index: 4;
  transform: rotateX(145deg);
  transform-origin: top;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
  background-color: black; 
  content: "<DHⱯИꓵƧH ΛⱯᖉWⱯ CHEKꓵᖉI\\>";
  color: whitesmoke;
 }
}

/*Keyboard Grid CSS*/
.container .macbookpro .keyboardarea{
 display: grid; 
 grid-template-columns: 1fr;
 grid-template-rows: 10px repeat(5, 1fr);
 gap: 3px;
 padding: 5px;
}

.keyboardrow  {
 border-radius: 2px;
 font-size: 5px;
}

.row1{
 display: grid;
 grid-template-columns: 16px 1fr 10px;
 grid-template-rows: 100%;
 column-gap: 1px;
}

.row1 .esc{
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 display: flex;
 justify-content: start;
 align-items: center;
 padding-left: 2px;
}

.row1 .touchbar{
 background-color: black;
 border-radius: 2px;
}

.row1 .power{
 background-color: black;
 border-radius: 2px;
}

.row2{
 display: grid;
 grid-template-columns: repeat(13, 16px) 1fr;
 grid-template-rows: 100%;
 column-gap: 1px;
}

.row2 :is(.row2child) {
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.row2 .delete {
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 display: flex;
 flex-direction: column;
 justify-content: end;
 align-items: end;
 padding: 0 1px 1px;
}

.row3{
 display: grid;
 grid-template-columns: 1fr repeat(13, 16.5px);
 grid-template-rows: 100%;
 column-gap: 1px;
}

.row3 :is(.row3child) {
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.row3 .tab {
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 display: flex;
 justify-content: start;
 align-items: end;
 padding: 0 0 1px 2px;
}

.row4{
 display: grid;
 grid-template-columns: 1fr repeat(11, 16.5px) 1fr;
 grid-template-rows: 100%;
 column-gap: 1px;
}

.row4 :is(.row4child) {
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.row4 .capslock {
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 display: flex;
 justify-content: start;
 align-items: end;
 padding: 0 0 1px 2px;
}

.row4 .return {
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 display: flex;
 justify-content: end;
 align-items: end;
 padding: 0 2px 1px;
}

.row5{
 display: grid;
 grid-template-columns: 1fr repeat(10, 16.8px) 1fr;
 grid-template-rows: 100%;
 column-gap: 1px;
}

.row5 :is(.row5child) {
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.row5 .shiftl {
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 display: flex;
 justify-content: start;
 align-items: end;
 padding: 0 0 1px 2px;
}

.row5 .shiftr {
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 display: flex;
 justify-content: end;
 align-items: end;
 padding: 0 2px 1px;
}

.row6{
 display: grid;
 grid-template-columns: repeat(3, 15.8px) 1.2fr 5fr 1.2fr repeat(4, 15.8px);
 grid-template-rows: 100%;
 column-gap: 1px;
}

.row6 :is(.row6child) {
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 display: flex;
 justify-content: center;
 align-items: end;
 padding-bottom: 1px;
}

.row6 .func {
 justify-content: end;
 align-items: start;
 padding: 1px 2px 0;
}

.row6 .command {
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 display: flex;
 justify-content: center;
 align-items: end;
 padding-bottom: 1px;
}

.row6 .spacebar {
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 display: flex;
 justify-content: end;
 align-items: end;
}

.row6 .lk, .row6 .rk{
 display: flex;
 justify-content: end;
 align-items: end;
}

.row6 .lk .left,  .row6 .rk .right{
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 width: 100%;
 height: 45%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.row6 .tbk {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

.row6 .tbk .top {
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 width: 100%;
 height: 45%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.row6 .tbk .bottom {
 background-color: black;
 border-radius: 2px;
 color: rgb(255, 255, 255, 0.8);
 width: 100%;
 height: 45%;
 display: flex;
 justify-content: center;
 align-items: center;
 transform: rotate(180deg);
}